{% extends 'twitter_clone/base.html' %}
{% load static %}
{% block content %}

<body>

	<div class="feed">
{% load widget_tweaks %}
    <form method="post" id="tweet">{% csrf_token %}
        <script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta charset="utf-8">

<div class="well clearfix">

 <textarea class="form-control" id="tweettext" name="tweettext"></textarea><br/>
  <button class="btn btn-primary pull-right">Tweet</button>
</div>

    </form>
		{% for tweet in tweets%}
		{% for i in tweet%}
		<div class="tweet">
			<img src="{% static 'images/download.jpeg' %}" class="img-circle" alt="User image">
			<h3>{{i.author}}</h3>
			<p>{{i.text}}</p>
			<button type="button" class="btn btn-default btn-sm">
          		<span class="glyphicon glyphicon-thumbs-up"></span> Like
        	</button>{{i.likes}}
        	<a href="#">
          		<span class="glyphicon glyphicon-comment"></span>
        	</a>
        	<hr>

		</div>
		{% endfor %}
		{% endfor %}



	</div>
</body>

{% endblock %}