{% extends 'twitter_clone/base.html' %}
{% load static %}
{% block content %}

<body>

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">TwitterClone</a>
    		</div>
    		
    		<ul class="nav navbar-nav">
      			<li class="active"><a href="#">Home</a></li>
	      		<li><a href="#">Following</a></li>
	      		<li><a href="#">Followers</a></li>
	      		<li><a href="#">HashTags</a></li>
    		</ul>

    		<ul class="nav navbar-nav navbar-right">
      			<li><a href="{%url 'feed' %}"><span class="glyphicon glyphicon-user"></span> Logged in as, {{ user.get_username }}</a></li>
      			<li><a href="{%url 'logout_user' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    		</ul>
  		</div>
	</nav>

	<div class="feed">

		<div class="tweet">
			<img src="{% static 'images/download.jpeg' %}" class="img-circle" alt="User image">
			<h3>Abhijeet Gurle</h3>
			<p>Vestibulum dignissim lectus eu turpis egestas, elementum semper purus rhoncus. Praesent convallis tellus et enim commodo, vel luctus ante ultrices. Aliquam at elit id dolor condimentum tristique. In consequat quis justo et aliquet. In suscipit ex quis dolor pharetra hendrerit. Maecenas ultrices dui justo, at vulputate lacus posuere eu.</p>
			<button type="button" class="btn btn-default btn-sm">
          		<span class="glyphicon glyphicon-thumbs-up"></span> Like
        	</button>
        	<a href="#">
          		<span class="glyphicon glyphicon-comment"></span>
        	</a>
        	<hr>
		</div>
		<div class="tweet">
			<img src="{% static 'images/download.jpeg' %}" class="img-circle" alt="User image">
			<h3>Shubham Bhavsar</h3>
			<p>Vestibulum dignissim lectus eu turpis egestas, elementum semper purus rhoncus. Praesent convallis tellus et enim commodo, vel luctus ante ultrices. Aliquam at elit id dolor condimentum tristique. In consequat quis justo et aliquet. In suscipit ex quis dolor pharetra hendrerit. Maecenas ultrices dui justo, at vulputate lacus posuere eu.</p>
			<button type="button" class="btn btn-default btn-sm">
          		<span class="glyphicon glyphicon-thumbs-up"></span> Like
        	</button>
        	<a href="#">
          		<span class="glyphicon glyphicon-comment"></span>
        	</a>
        	<hr>
		</div>

	</div>
</body>

{% endblock %}