{% extends 'twitter_clone/base.html' %}

{% block content %}
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
  <div class="panel">
   <h1>Login</h1>
   <p>Please enter your email and password</p>
   </div>
   
    <form id="Login" method="POST" action="">{% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control" id="inputEmail" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
      </div>
        
      <div class="forgot">

        <a href="">Forgot password?</a>
      </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="panel">
      <p>No account <a href="{%url 'signup' %}">Signup</a> </p>
    </div>
  </div>
</div></div></div>


</body>

{% endblock %}